<h3>Profilom kezelése</h3>
<hr>
<div id="messageBox"></div>

<div class="row">
    <div class="col-12 col-l-6">
        <h5>Alapadatok</h5>
    
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="nameField" placeholder="">
        <label for="passwd">Név</label>
    </div>

    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="emailField" placeholder="">
        <label for="email">Email cím</label>
    </div>
    <button class="btn btn-primary" id="regBtn" onclick="">Módosítás</button>
</div>
</div>