header{
    text-align: center;
    padding: 40px 0;

}
footer p{
    font-size:80%;
    letter-spacing: 3px;
    text-align: center;
    padding: 0;
    margin:0;

}

footer{
    border-top: 1px solid var(--bs-secondary);
    padding: 15px 0;
    text-align: center;
}
.hide{
    display: none;
}

#themeSwitch{
    position: absolute;
    top: 10px;
    right: 10px;
}
main{
    padding: 20px 0;
}

#sum{
    font-weight: bold;
}
#chart{
    width: 100%;
    height: 450px;
}
tr{
    width: 100%;
}